.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.left-side {
    flex: 1;
    height: 100%;
}

.right-side {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
}

.form-box {
    width: 100%;
    max-width: 450px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Tablet */
@media (max-width: 1024px) {
    .right-side {
        padding: 30px;
    }
}

/* Móviles grandes (Cambio de 2 columnas a 1 columna) */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        overflow-y: auto;
    }

    .left-side, .right-side {
        flex: none;
        width: 100%;
        height: auto;
    }

    .right-side {
        padding: 40px 20px;
        align-items: flex-start;
    }
}

/* Móviles pequeños */
@media (max-width: 480px) {
    .title {
        font-size: 1.8rem;
    }
}